# Application
SPRING_APPLICATION_NAME=SPRING_APPLICATION_NAME

# Docker
SPRING_DOCKER_COMPOSE_ENABLED=SPRING_DOCKER_COMPOSE_ENABLED
SPRING_DOCKER_COMPOSE_FILE=SPRING_DOCKER_COMPOSE_FILE

# Database (MariaDB/MySQL)
SPRING_DATASOURCE_URL=SPRING_DATASOURCE_URL
SPRING_DATASOURCE_USERNAME=SPRING_DATASOURCE_USERNAME
SPRING_DATASOURCE_PASSWORD=SPRING_DATASOURCE_PASSWORD
MARIADB_ROOT_PASSWORD=MARIADB_ROOT_PASSWORD
MARIADB_DATABASE=MARIADB_DATABASE

# Security
SPRING_SECURITY_USER_NAME=SPRING_SECURITY_USER_NAME
SPRING_SECURITY_USER_PASSWORD=SPRING_SECURITY_USER_PASSWORD

# Redis
SPRING_SESSION_STORE_TYPE=SPRING_SESSION_STORE_TYPE
SPRING_DATA_REDIS_HOST=SPRING_DATA_REDIS_HOST
SPRING_DATA_REDIS_PASSWORD=SPRING_DATA_REDIS_PASSWORD
SPRING_DATA_REDIS_PORT=SPRING_DATA_REDIS_PORT

# JWT
JWT_SECRET=JWT_SECRET
JWT_EXPIRATION=JWT_EXPIRATION

# File Storage
UPLOAD_IMAGE_PROFILE_DIRECTORY=UPLOAD_IMAGE_PROFILE_DIRECTORY