#######################################
###           APPLICATION           ###
#######################################
APP_NAME=APP_NAME
APP_PROFILE=APP_PROFILE
APP_TIMEZONE=APP_TIMEZONE

#######################################
###             NETWORK             ###
#######################################
### External ports (host machine) ###
HOST_APP_PORT=HOST_APP_PORT
HOST_DB_PORT=HOST_DB_PORT
HOST_REDIS_PORT=HOST_REDIS_PORT

### Internal ports (container) ###
CONTAINER_APP_PORT=CONTAINER_APP_PORT
CONTAINER_DB_PORT=CONTAINER_DB_PORT
CONTAINER_REDIS_PORT=CONTAINER_REDIS_PORT

#######################################
###             DATABASE            ###
#######################################
DB_DRIVER=DB_DRIVER
DB_URL=DB_URL
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASSWORD
DB_ROOT_PASSWORD=DB_ROOT_PASSWORD

#######################################
###              REDIS              ###
#######################################
REDIS_HOST=REDIS_HOST
REDIS_PASSWORD=REDIS_PASSWORD
REDIS_TIMEOUT=REDIS_TIMEOUT

#######################################
###            SECURITY             ###
#######################################
ADMIN_USERNAME=ADMIN_USERNAME
ADMIN_PASSWORD=ADMIN_PASSWORD
JWT_SECRET=JWT_SECRET
JWT_EXPIRATION_MS=JWT_EXPIRATION_MS

#######################################
###             STORAGE             ###
#######################################
UPLOAD_DIR=UPLOAD_DIR
MAX_UPLOAD_SIZE=MAX_UPLOAD_SIZE

#######################################
###             DOCKER              ###
#######################################
DOCKER_COMPOSE_ENABLED=DOCKER_COMPOSE_ENABLED
DOCKER_COMPOSE_FILE=DOCKER_COMPOSE_FILE